#!/bin/bash
VIRTUAL_ENV="$PWD/.venv"
if [[ ! -d $VIRTUAL_ENV ]]; then
    log_error "Could not find virtual environment directory: $VIRTUAL_ENV"
    return 1
fi
export VIRTUAL_ENV
export POETRY_ACTIVE=1
PATH_add "$VIRTUAL_ENV/bin"

export PYTEST_ADDOPTS="--cache-clear --cov-report=term --cov-report=html"
